![banner flai.jpg]()

#üìò **Laborat√≥rio de Ensino FLAI** - Projeto Piloto
---

üí° **Ideia:** Proposta Hands-on de pequenos projetos em Python


üìå **Objetivos:** Criar intimidade com programa√ß√£o.


üë• **Para quem:** Para iniciantes na linguagem Python.


üìã **Tema de hoje:** Vamos criar nosso pr√≥prio Cassino!

---

## ‚ú® **1. A Arte de Programar**

- Como conversar com o computador.

- Algoritmo, o passo a passo que o computador precisa.

- Traduzir os problemas do cotidiano nos objetos de programa√ß√£o, atrav√©s de propriedades similares. 

- Programar √© por etapas, √© construtivo, do simples ao complexo

- Fun√ß√µes para a aula de hoje: input, random.randint, random.choice, while, if, contador

#### Fun√ß√£o **input**

In [ ]:
nome = input('Qual √© o seu nome? ')

Qual √© o seu nome? Jony

In [ ]:
print('O nome apresentado foi {}'.format(nome))

O nome apresentado foi Jony

In [ ]:
idade = input('Quantos anos voc√™ tem?')

Quantos anos voc√™ tem?34

In [ ]:
type(idade)

str

In [ ]:
int(idade)*5

170

#### Biblioteca **random**, fun√ß√£o **randint** e **choice**

In [ ]:
import random

In [ ]:
random.randint(1, 10)

4

In [ ]:
lista = [1, 4, 6, 10]
random.choice(lista)

1

#### **Condicionais IF-ELSE**

In [ ]:
#  Exemplo Condicionais

lista = [1, 4, 6, 10]
x = random.choice(lista)

if x == 10:
    print('Oba, saiu o 10! :)')
else:
    print('Eita, n√£o saiu o 10! :(')

Eita, n√£o saiu o 10! :(

#### **Iterador WHILE**

In [ ]:
# Exemplo de WHILE

lista = [1, 4, 6, 10]

while True:
    numero = int(input('Digite o numero 10: ')) 
    if numero == 10:
        print('Muito obrigado!')
        break
    else:
        print('Escreveu errado!')

Digite o numero 10: 11
Escreveu errado!
Digite o numero 10: 23
Escreveu errado!
Digite o numero 10: 443
Escreveu errado!
Digite o numero 10: 10
Muito obrigado!

##‚ú® **2. Programa A: Roletinha!**

**Vamos fazer um programa que simule o Jogo da Roletinha, uma roleta menorzinha!**

Nesse jogo, o jogador aposta em um n√∫mero de 1-6. Ent√£o, arremessa uma bola que pode cair em qualquer num√©ro de 0-6. Caso a bola acerta o valor escolhido, ent√£o o jogador ganha 6x o valor apostado. 

**Algoritmo**
1. Perguntar a quantia que o jogador quer apostar
2. Perguntar qual o n√∫mero (1-6) em que o jogador deseja colocar a aposta.
3. Arremessar a bolinha, isto √©, gerar um n√∫mero aleatorio entre 0-6. 
4. Imprima o resultado sorteado na tela
5. Se o jogador acertou ent√£o imprima na tela o resultado e o seu premio
6. Se o jogador errou, imprima na tela o resultado

**Objetivo Extra**

- Transforme o programa em uma fun√ß√£o chamada 'Roletinha', que n√£o requer nenhum argumento de entrada, abra o jogo, imprima os resultados e retorne o valor ganho no jogo.

- Implemente algo que impe√ßa o jogador de colocar entradas fora do esperado nos inputs!

- Implemente algo para colocar um tempo entre a entradas dos inputs e o sorteio do jogo, com o objetivo de 'criar um mist√©rio!'

In [ ]:
# Implementa√ß√£o

import random

aposta = int(input('\nQuanto quer apostar? '))
numero = int(input('\nQual n√∫mero de 1-6 voc√™ deseja apostar? '))
roleta = random.randint(0, 6)
print('O resultado da roleta √©: {}.'.format(roleta))

if numero == roleta:
    ganhos = 6*aposta
    print('\nJogador Ganhou!')
    print('Tome aqui seus {} reais'.format(ganhos))
else:
    print('\nInfelizmente, voc√™ perdeu!')
    print('Mais sorte na pr√≥xima!')

Quanto quer apostar? 12

Qual n√∫mero de 1-6 voc√™ deseja apostar? 1
O resultado da roleta √©: 6.

Infelizmente, voc√™ perdeu!
Mais sorte na pr√≥xima!

In [ ]:
# Objetivo Extra

def Roletinha():
    aposta = int(input('\nQuanto quer apostar? '))
    numero = int(input('\nQual n√∫mero de 1-6 voc√™ deseja apostar? '))
    roleta = random.randint(0, 6)
    print('O resultado da roleta √©: {}.'.format(roleta))

    if numero == roleta:
        ganhos = 6*aposta
        print('\n*** Jogador Ganhou! ***')
        print('Tome aqui seus {} reais'.format(ganhos))
    else:
        ganhos = 0
        print('\nInfelizmente, voc√™ perdeu!')
        print('Mais sorte na pr√≥xima!')
    
    return ganhos

In [ ]:
Roletinha()

Quanto quer apostar? 12

Qual n√∫mero de 1-6 voc√™ deseja apostar? 1
O resultado da roleta √©: 2.

Infelizmente, voc√™ perdeu!
Mais sorte na pr√≥xima!

0

##‚ú® **3. Programa B: Jogo do 21 Adaptado**

**Vamos fazer um programa que simule o Jogo 21!**

Nesse jogo, o jogador recebe uma carta do baralho. O As vale 1, as demais cartas com letras valem 10 e as cartas com n√∫meros valem seus pr√≥prios n√∫meros. O jogador pede quantas cartas quiser e pode parar quando quiser. Se somar mais do que 21, ele perde. Quando para antes de somar 21, o jogador vence se a sua soma for maior que o 'jogo da banca'. Nesse caso, o jogo da banca √© um n√∫mero aleat√≥rio entre 12 e 21. Quando o jogador ganha, recebe o dobro do que apostou. 


**Algoritmo**
1. Perguntar ao jogador quanto ele quer apostar.
1. Sorteie a primeira carta do jogador e imprima na tela o valor da carta
1. Repetir a pergunta: "deseja receber mais uma carta ou parar?" at√© que o jogador escolha parar. Enquanto repetir:
  1. Sorteie uma carta aleat√≥ria e imprima na tela o valor da carta
  1. Imprima na tela a soma das cartas
  1. Se passou de 21, diga que o jogador perdeu e encerre o jogo
  1. Se n√£o passo de 21, repita a pergunta. 
1. Se o jogador parar, gerar um valor aleat√≥rio entre 12 e 21.
1. Se a soma do jogador for maior que o valor gerado, ele vence. Caso contr√°rio, o jogador perde.
1. Apresente o resultado final na tela e o valor ganho na aposta. 

**Objetivo Extra**

Transforme o programa em uma fun√ß√£o chamada 'Roleta', que n√£o requer nenhum argumento de entrada, abra o jogo e imprima os resultados

In [ ]:
# AGORA √â A VEZ DE VOC√äS

##‚ú® **4. Programa FINAL**


Para finalizar, fa√ßa um programa que pergunte o nome do jogador, o sa√∫de no Cassino, apresente os jogos dispon√≠veis e permita que ele escolha qual jogar. 

**Algoritmo**

1. Perguntar o nome do j Jogador.
1. Imprimir a sauda√ß√£o.
1. Perguntar qual jogo o jogador deseja jogar.
1. Conectar com o jogo escolhido pelo jogador.

In [1]:
import numpy as np
import random as rd
import pandas as pd
  
nome = ['Alfred','Bruce','Barry','Clark','Diana']
numapostadores = len(nome)
dinheiro = np.zeros(numapostadores)
nuap = np.zeros(numapostadores)
ganhou = np.zeros(numapostadores)
perdeu = np.zeros(numapostadores)
vlap = np.zeros(numapostadores)
sevaiapostar = np.zeros(numapostadores)
apperdeu = np.zeros(numapostadores)
apganhou = np.zeros(numapostadores)
numeroroleta = 0
max = 10
colunas=['Dinheiro','Ganhou','Perdeu','Apos.lose', 'Apos.win']
for c in range(numapostadores):
    dinheiro[c]= rd.randint(100,500)

In [2]:
def Roleta():
  numeroroleta = rd.randint(1,max)
  for c in range(numapostadores):
    sevaiapostar[c] = rd.randint(0,1)
    vlap[c] = rd.randint(10,30)
    nuap[c] = rd.randint(1,max)
    if sevaiapostar[c] == 1:
      dinheiro[c] =dinheiro[c]- vlap[c]

  for c in range(numapostadores):
    if nuap[c] == numeroroleta:
      if sevaiapostar[c] == 1:
        ganhou[c] = ganhou[c] + vlap[c]*6
        dinheiro[c] =dinheiro[c]+ vlap[c]*6
        apganhou[c] += 1
    else:
      if sevaiapostar[c] == 1:
        perdeu[c] = perdeu[c] + vlap[c]
        apperdeu[c] += 1

In [3]:
def Resultado():
  apostadores = pd.DataFrame( index = nome, columns = colunas)
  apostadores['Dinheiro']=dinheiro
  apostadores['Ganhou']=ganhou
  apostadores['Perdeu']=perdeu
  apostadores['Apos.lose']=apperdeu
  apostadores['Apos.win']=apganhou
  return apostadores

In [4]:
print('Antes das apostas')
Resultado()

Antes das apostas

        Dinheiro  Ganhou  Perdeu  Apos.lose  Apos.win
Alfred     402.0     0.0     0.0        0.0       0.0
Bruce      120.0     0.0     0.0        0.0       0.0
Barry      152.0     0.0     0.0        0.0       0.0
Clark      115.0     0.0     0.0        0.0       0.0
Diana      359.0     0.0     0.0        0.0       0.0

In [5]:
numerodeapostas=rd.randint(3,10)
for c in range(numerodeapostas):
 Roleta()
Resultado()

        Dinheiro  Ganhou  Perdeu  Apos.lose  Apos.win
Alfred     553.0   246.0    54.0        3.0       2.0
Bruce       23.0     0.0    97.0        4.0       0.0
Barry      207.0   180.0    95.0        4.0       1.0
Clark        5.0     0.0   110.0        5.0       0.0
Diana      283.0     0.0    76.0        3.0       0.0

In [6]:
print('Foram feitas {} apostas'.format(numerodeapostas))

Foram feitas 9 apostas

In [ ]:
Resultado()['Perdeu'].plot(kind ='bar',title='Dinheiro perdido');

In [ ]:
Resultado()['Ganhou'].plot(kind ='bar',title='Dinheiro que ganhou');

In [ ]:
sum =Resultado()['Apos.lose']+Resultado()['Apos.win']
sum.plot(kind ='bar',title='Quantas veses apostou');